$space-cadet: #2b2d42ff;
$cool-gray: #8d99aeff;
$antiflash-white: #edf2f4ff;
$red-pantone: #ef233cff;
$fire-engine-red: #d90429ff;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $space-cadet;
  color: $antiflash-white;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
